// _variables.scss
$font-family: 'Exo', 'sans-serif';

$red: #e3163a;
$black: #1a1a1a;
$white: #ffffff;
$gray-bg: #f2f2f2;

// Bordes y radios
$radius-card: 1rem; // Tarjetas
$radius-button-diagonal: 1rem; // Esquinas diagonales para botones

// Sombras
$shadow-card: 0 2px 6px rgba(0, 0, 0, 0.05);
$shadow-card-hover: 0 6px 12px rgba(0, 0, 0, 0.1);

// Duración animaciones
$transition-fast: 0.3s ease;
$transition-medium: 0.6s ease;

// Breakpoints
$bp-tablet: 768px;
$bp-desktop: 992px;
